<div class="container">
  <br>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">{{#link-to 'sample'}} Gr치ficas Generales {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'single'}} Gr치ficas Por Campus {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'personal'}} Gr치ficas Por Persona {{/link-to}}</li>
      </ul>
    </nav>
    <h3 class="text-muted"> Making Devs</h3>
  </div>

  {{outlet}}

  <br><br>

  <div class="container">
    <div class="row">
      <section class="wrapperColor">
        <div class="container-fostrap">
          <div class="content">
            <div class="container">
              <div class="row">

                <div class="col-xs-12 col-sm-3">
                  <div class="card">
                    <a class="img-card" href="javascript:;" style="background:#c0dafe;">
                    </a>
                    <div class="card-content text-center">
                      <h1>1</h1>
                      <h5>Nivel Latente</h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <div class="card">
                    <a class="img-card" href="javascript:;" style="background:#82b5fc;">
                    </a>
                    <div class="card-content text-center">
                      <h1>2</h1>
                      <h5>Nivel Impreciso</h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <div class="card">
                    <a class="img-card" href="javascript:;" style="background:#458ffc;">
                    </a>
                    <div class="card-content text-center">
                      <h1>3</h1>
                      <h5>Nivel Gest치ndose</h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <div class="card">
                    <a class="img-card" href="javascript:;" style="background:#126bfb;">
                    </a>
                    <div class="card-content text-center">
                      <h1>4</h1>
                      <h5>Nivel Produciendo</h5>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


  <footer class="footer">
    <p>&copy; Making Devs</p>
  </footer>

</div> <!-- /container -->

