<div class="container">
  <br>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">{{#link-to 'data'}} Propuesta Mediana Media {{/link-to}}</li>
      </ul>
    </nav>
		<br><br>
    <h3 class="text-muted"> Making Devs</h3>
  </div>

  {{outlet}}

  <br><br>

  <footer class="footer">
    <p>&copy; Making Devs</p>
  </footer>

</div> <!-- /container -->

