<div class="container">
  <br>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">{{#link-to 'sample'}} Gráficas Generales {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'single'}} Gráficas Por Campus {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'personal'}} Gráficas Por Persona {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'line-chart'}} Gráfica Personal de Prospecto {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'fake-bars'}} Gráficas General de Prospectos {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'prospect1'}} Gráficas Gral Propuesta 1 Reclu {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'prospect2'}} Gráficas Gral Propuesta 2 Reclu {{/link-to}}</li>
        <li role="presentation" class="active">{{#link-to 'prospect3'}} Gráficas Gral Propuesta 3 Reclu {{/link-to}}</li>
      </ul>
    </nav>
		<br><br>
    <h3 class="text-muted"> Making Devs</h3>
  </div>

  {{outlet}}

  <br><br>

  <footer class="footer">
    <p>&copy; Making Devs</p>
  </footer>

</div> <!-- /container -->

