<h2> Resultados de la Evaluación por Persona </h2>

<div class="text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" width="30%"/>
      <br><br>
      <ul class="list-group text-center">
        <li class="list-group-item">
          Evaluación 2017 DIC
        </li>
        <li class="list-group-item">
          r.martinez
        </li>
      </ul>
    </div>
  </div>
</div>

{{high-charts chartOptions=model.options content=model.data}}
