<h3> Evaluación 1 </h3>
{{high-charts chartOptions=model.options content=model.data}}
<br>
<h3> Evaluación 2 </h3>
{{high-charts chartOptions=model.options content=model.data}}
<br>
<h3> Evaluación 3 </h3>
{{high-charts chartOptions=model.options content=model.data}}
